@model Nop.Core.Domain.ZhiXiao.ZhiXiaoSettings

@{
    //page title
    ViewBag.Title = "直销相关设置";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ZhiXiao settings");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            直销相关设置
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Action("StoreScopeConfiguration", "Setting")
            @Html.Action("Mode", "Setting")
            @Html.ValidationSummary(false)

            <div class="panel panel-default">
                <div class="panel-heading">
                    注册与兑换
                </div>
                <div class="panel-body">
                    
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Withdraw_Rate)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.Withdraw_Rate)
                            @Html.ValidationMessageFor(model => model.Withdraw_Rate)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Register_Money_NormalUser)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.Register_Money_NormalUser)
                            @Html.ValidationMessageFor(model => model.Register_Money_NormalUser)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Register_Money_AdvancedUser)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.Register_Money_AdvancedUser)
                            @Html.ValidationMessageFor(model => model.Register_Money_AdvancedUser)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    提成相关设置
                </div>
                <div class="panel-body">

                    <!-- 组长 -->
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.NewUserMoney_ZuZhang_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.NewUserMoney_ZuZhang_Normal)
                            @Html.ValidationMessageFor(model => model.NewUserMoney_ZuZhang_Normal)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.NewUserMoney_ZuZhang_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.NewUserMoney_ZuZhang_Advanced)
                            @Html.ValidationMessageFor(model => model.NewUserMoney_ZuZhang_Advanced)
                        </div>
                    </div>
                    
                    <!-- 副组长 -->
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.NewUserMoney_FuZuZhang_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.NewUserMoney_FuZuZhang_Normal)
                            @Html.ValidationMessageFor(model => model.NewUserMoney_FuZuZhang_Normal)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.NewUserMoney_FuZuZhang_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.NewUserMoney_FuZuZhang_Advanced)
                            @Html.ValidationMessageFor(model => model.NewUserMoney_FuZuZhang_Advanced)
                        </div>
                    </div>

                    <!-- 组员 -->
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.NewUserMoney_ZuYuan_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.NewUserMoney_ZuYuan_Normal)
                            @Html.ValidationMessageFor(model => model.NewUserMoney_ZuYuan_Normal)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.NewUserMoney_ZuYuan_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.NewUserMoney_ZuYuan_Advanced)
                            @Html.ValidationMessageFor(model => model.NewUserMoney_ZuYuan_Advanced)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_DongShi5_ChuPan_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_DongShi5_ChuPan_Normal)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_DongShi5_ChuPan_Normal)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_DongShi5_ChuPan_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_DongShi5_ChuPan_Advanced)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_DongShi5_ChuPan_Advanced)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_DongShiBase_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_DongShiBase_Normal)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_DongShiBase_Normal)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_DongShiBase_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_DongShiBase_Advanced)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_DongShiBase_Advanced)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_Rate_DongShi1)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_Rate_DongShi1)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_Rate_DongShi1)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_Rate_DongShi2)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_Rate_DongShi2)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_Rate_DongShi2)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_Rate_DongShi3)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_Rate_DongShi3)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_Rate_DongShi3)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_Rate_DongShi4)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_Rate_DongShi4)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_Rate_DongShi4)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_Rate_DongShi5)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_Rate_DongShi5)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_Rate_DongShi5)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_ZuZhang_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_ZuZhang_Normal)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_ZuZhang_Normal)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_ZuZhang_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_ZuZhang_Advanced)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_ZuZhang_Advanced)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_ZuYuan_Normal)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_ZuYuan_Normal)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_ZuYuan_Normal)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_ZuYuan_Advanced)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_ZuYuan_Advanced)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_ZuYuan_Advanced)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-danger advanced-setting">
                <div class="panel-heading">
                    其他设置
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Password2_ValidTime)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.Password2_ValidTime)
                            @Html.ValidationMessageFor(model => model.Password2_ValidTime)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.MaxChildCount)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.MaxChildCount)
                            @Html.ValidationMessageFor(model => model.MaxChildCount)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Team_ZuZhangCount)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.Team_ZuZhangCount)
                            @Html.ValidationMessageFor(model => model.Team_ZuZhangCount)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Team_FuZuZhangCount)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.Team_FuZuZhangCount)
                            @Html.ValidationMessageFor(model => model.Team_FuZuZhangCount)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.TeamInitUserCount)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.TeamInitUserCount)
                            @Html.ValidationMessageFor(model => model.TeamInitUserCount)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.TeamReGroupUserCount)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.TeamReGroupUserCount)
                            @Html.ValidationMessageFor(model => model.TeamReGroupUserCount)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.ReGroupMoney_ZuYuan_Count)
                        </div><div class="col-md-8">
                            @Html.NopEditorFor(model => model.ReGroupMoney_ZuYuan_Count)
                            @Html.ValidationMessageFor(model => model.ReGroupMoney_ZuYuan_Count)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}