@model Web.ZhiXiao.Areas.BonusApp.Models.HomePageModel

@using Nop.Core.Domain.BonusApp.Logging;

@{
    var currentCustomer = EngineContext.Current.Resolve<IWorkContext>().CurrentBonusAppCustomer;

    var isWaitingType = Model.Status == BonusApp_MoneyReturnStatus.Waiting;

    // 当前选中的不显示url, 未选中的url
    var inActiveStatus = isWaitingType ? BonusApp_MoneyReturnStatus.Complete : BonusApp_MoneyReturnStatus.Waiting;
    var inActiveUrl = Url.Action("Index", !isWaitingType ? null : new { status = (int)inActiveStatus });

    Html.SetActiveMenuItemSystemName("Index");
}
<div class="shouyi clearfloat main">
    <!-- 收益 star -->
    <div class="top clearfloat">
        <div class="one clearfloat box-s">
            你好, @currentCustomer.Nickname
        </div>
        <div class="three clearfloat">
            <div class="zuo clearfloat fl">
                <img src="/Content/bonus/img/11.png">
                <p class="tit">
                    送出收益
                    <span class="fu-tit">
                        ¥@Model.BonusAppStatus.MoneyPaied
                    </span>
                </p>
            </div>
            <span class="fl line"></span>
            <div class="you clearfloat fl">
                <img src="/Content/bonus/img/10.png">
                <p class="tit">
                    奖金池
                    <span class="fu-tit">
                        ¥@Model.BonusAppStatus.CurrentMoney
                    </span>
                </p>
            </div>
        </div>
    </div>
    <!-- 收益 end -->
    <!-- paihang star -->
    <div class="paihang clearfloat">
        <div class="contentTitle tit top clearfloat box-s">
            <p class="tit fl bt @(isWaitingType ? "active" : "")">
                <a href="@(isWaitingType ? "javascript:void(0);" : inActiveUrl)">
                    <img src="/Content/bonus/img/48.png">
                    排队中 @(Model.BonusAppStatus.WaitingUserCount)位
                </a>
            </p>
            <p class="tit fr fu-tit @( !isWaitingType ? "active" : "")">
                <a href="@( !isWaitingType ? "javascript:void(0);" : inActiveUrl)">
                    <img src="/Content/bonus/img/58.png">
                    已奖励 @(Model.BonusAppStatus.CompleteUserCount)位
                </a>
            </p>
        </div>
        <div class="content clearfloat">
            @Html.Partial("_PoolItems", Model.PoolItems.Data)
        </div>
    </div>

    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
        </div>
        <p class="infinite-scroll-last">加载完毕</p>
    </div>
    <!-- paihang end -->
</div>

@Html.Partial("_ToTop")

@section scripts {
    <script src="~/Scripts/bonus/infinite-scroll.pkgd.min.js"></script>
    <script>
        // scroll top
        $('.totop').tottTop({
            scrollTop: 100
        });

        var $container = $('.content').infiniteScroll({
            // options 'news/blog-p{{#}}.html'
            path: getPath,
            append: '.list',
            //prefill: true,
            status: '.page-load-status'
        });

        function getPath() {
            var availableCount = @(Model.PoolItems.TotalPages - 1);
            if (this.loadCount < availableCount) {
                return '/Home/LoadUser?status=@((int)Model.Status)&page=' + (this.pageIndex + 1);
            }
        }
    </script>
}