@model TeamDiagramModel

@{
    //page title
    ViewBag.Title = "小组系谱图";
    //active menu item (system name) 用户和管理员共同使用一个view
    if (!string.IsNullOrEmpty(ViewBag.ActiveMenuItemSystemName))
    {
        Html.SetActiveMenuItemSystemName(ViewBag.ActiveMenuItemSystemName as string);
    }
    else
    {
        Html.SetActiveMenuItemSystemName("Customer teams");
    }
    // Html.AppendCssFileParts("~/Content/lib/jquery.orgchart.css");
    //  Html.AppendScriptParts("~/Scripts/kendo.dataviz.diagram.min.js");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        小组@(Model.Team.CustomNumber)
    </h1>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <p><i class="fa fa-users"></i>当前人数: @Model.Team.UserCount</p>

            <div class="panel-body">
                <div class="row" style="min-height: 150px;">
                    @TeamDiagarm_v1(Model.TopHalfUsers)
                </div>
                <div class="row" style="min-height: 150px;">
                    @TeamDiagarm_v1(Model.LastHalfUsers)
                </div>

                <div class="row" id="treeView">
                    @Html.Partial("_TeamTreeView", Model.AllUsers)

                </div>
            </div>
        </div>
    </div>
</div>
 
@helper TeamDiagarm_v1(IList<CustomerDiagramModel> models)
{
    if (models.Count > 0)
    {
        <ul class="diagarm">
            @foreach (var item in models)
            {
                <li>
                    <a>@item.DisplayInfo</a>
                    @TeamDiagarm_v1(item.Child)
                </li>
            }
        </ul>
    }
}

@helper TeamDiagarm_Tree(IList<CustomerDiagramModel> models, int level)
{
    if (models.Count > 0)
    {
        <ul>
            @foreach (var item in models)
            {
                <li data-expanded="true">
                    @if (level == 0)
                    {
                        <i class="fa fa-user"></i>@item.DisplayInfo
                    }
                    else
                    {
                        <i class="fa fa-child"></i>@item.DisplayInfo
                    }
                    @TeamDiagarm_Tree(item.Child, level + 1)
                </li>
            }
        </ul>
    }
}