@model ChangePasswordModel

@using Nop.Core;
@{
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.SetActiveMenuItemSystemName("Customer Password");
}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Account.MyAccount") - @T("Account.ChangePassword")
    </h1>
</div>

<div class="content">
    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <div class="result">
            @Model.Result
        </div>
    }
    @{
        var validationSummary = Html.ValidationSummary(true);
    }
    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    <div class="form-horizontal">
        <div id="customer-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-password", new Nop.Web.Framework.Localization.LocalizedString("登陆密码"), true)
                @Html.RenderBootstrapTabHeader("tab-password2", new Nop.Web.Framework.Localization.LocalizedString("二级密码"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-password", @PwdTab("pwd1"), true)
                @Html.RenderBootstrapTabContent("tab-password2", @PwdTab("pwd2"))
            </div>
        </div>
    </div>
</div>
@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">


@helper PwdTab(string type)
{
    <form action="@Url.Action("ChangePassword")" method="post">
        
        @* @Html.AntiForgeryToken()*@
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                        @Html.Hidden("pwdType", type)

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.OldPassword)
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.NopEditorFor(model => model.OldPassword, required: true)
                                </div>
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.NewPassword)
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.NopEditorFor(model => model.NewPassword, required: true)
                                </div>
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ConfirmNewPassword)
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.NopEditorFor(model => model.ConfirmNewPassword, required: true)
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <button type="submit" name="save" class="btn bg-blue">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>
}