@model CustomerIndexModel

@using Nop.Core.Domain.Customers
@using Nop.Services.Customers

@{
    var newsGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.News.NewsSettings>().NewsArchivePageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    var userInTeam = Model.CustomerInfo.CustomerTeam != null;

    //page title
    ViewBag.Title = "个人中心";
    //active menu item(system name)
    Html.SetActiveMenuItemSystemName("Customer Index");
}

@Html.AntiForgeryToken()

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-success box-widget widget-user-2">
                <div class="box-header with-border">
                    <h3 class="box-title">个人信息</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body">
                    <div class="widget-user-header bg-aqua-active">
                        @if (ViewBag.ShowRegisterAdvancedTip)
                        {
                            <p>暂时出盘, 充值26800继续</p>
                        }
                        else
                        {
                            <p>您当前的等级是: @Model.CustomerInfo.CustomerLevel.GetDescription()</p>
                            <p>您的下线成员有:</p>
                            <ul class="diagarm">
                                @foreach (var child in Model.Children)
                                {
                                    var teamNum = "";
                                    if (Model.CustomerInfo.CustomerTeam == null || child.CustomerTeam.Id != Model.CustomerInfo.CustomerTeam.Id)
                                    {
                                        teamNum = child.CustomerTeam == null ? "" : child.CustomerTeam.CustomNumber;
                                    }
                                    <li>
                                        <button class="btn btn-success" type="button">@child.GetNickName() (@teamNum @child.GetLevelDescription())</button>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        
                        <li><p class="margin">昵称 <span class="pull-right">@Model.CustomerInfo.NickName</span></p></li>
                        @if (Model.CustomerInfo.CustomerTeam != null)
                        {
                            <li><p class="margin">小组编号<span class="pull-right badge bg-blue">@Model.CustomerInfo.CustomerTeam.CustomNumber (@Model.CustomerInfo.CustomerTeam.TeamType.GetDescription())</span></p></li>
                        }
                        else
                        {
                            <li><p class="margin">小组编号<span class="pull-right">无小组</span></p></li>
                        }
                        <li><p class="margin">电子币余额 <span class="pull-right badge bg-blue">@Model.CustomerInfo.ZhiXiao_MoneyNum</span></p></li>
                        <li><p class="margin">历史电子币 <span class="pull-right badge bg-blue">@Model.CustomerInfo.ZhiXiao_MoneyHistory</span></p></li>
                        <li><p class="margin">注册时间<span class="pull-right">@Model.CustomerInfo.CreatedOn</span></p></li>
                    </ul>
                </div>
            </div>
        </div>
        @if (userInTeam)
        {
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">小组@(Model.CustomerInfo.CustomerTeam.CustomNumber)(@(Model.TeamUsers.Count)人)</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.Partial("_TeamTreeView", Model.TeamUsers)
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">新闻</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="newsitem-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#newsitem-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("NewsList", "Customer"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken()
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(newsGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    //refresh: true,
                                    //pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Title",
                                        title: "@T("Admin.ContentManagement.News.NewsItems.Fields.Title")",
                                        width: 150
                                    }, {
                                        field: "Short",
                                        title: "摘要",
                                        width: 300
                                    }
                                    @*{
                                        field: "CreatedOn",
                                        title: "@T("Admin.ContentManagement.News.NewsItems.Fields.CreatedOn")",
                                        width: 100,
                                        type: "date",
                                        format: "{0:yyyy-MM-dd}"
                                    },*@
                                    ,{
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-info" data-id="#=Id#" data-toggle="modal" data-target="\\#news-window"><i class="fa fa-file-text"></i>查看</a>'
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

@*news window*@
<div id="news-window" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <span class="pull-left"><i class="fa fa-calendar"></i><span class="modal-date"></span></span>
                <button class="btn btn-primary" type="button" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $('#news-window').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget);
        var modal = $(this);
        var id = button.data('id');
        var url = '@Html.Raw(Url.Action("NewsItem", new { newsItemId = "__id__" }))';
        url = url.replace('__id__', id);

        $.getJSON(url, function (data) {
            if (data == null) {
                $('.modal-title', modal).text('');
                $('.modal-body', modal).html('');
                $('.modal-date', modal).text('');
                modal.modal('hide');
                alert('新闻不存在');
            } else {
                $('.modal-title', modal).text(data.Title);
                $('.modal-body', modal).html(data.Full);
                $('.modal-date', modal).text(new Date(data.CreatedOn).Format("yyyy-MM-dd"));

            }
        });
    });

</script>