@model CustomerInfoModel

@using Nop.Core;
@{
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Html.SetActiveMenuItemSystemName("Customer Details");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Account.MyAccount") - @T("Account.CustomerInfo")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            @if (Model.StateProvinceEnabled)
            {
                // TODO: add js here
                @Scripts.Render("~/Scripts/citySelect/jquery.cityselect.js")
                <script type="text/javascript">
                $(document).ready(function() {
                    citySelect({
                        prov: '@Model.StateProvince',
                        city: '@Model.City',
                        dist: '@Model.District',
                        provId: '#@Html.FieldIdFor(model => model.StateProvince)', // id container
                        cityId: '#@Html.FieldIdFor(model => model.City)',
                        distId: '#@Html.FieldIdFor(model => model.District)'
                    });
                });
                </script>
            }
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Username)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Username)
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.NickName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.NickName)
                                @Html.ValidationMessageFor(model => model.NickName)
                            </div>
                        </div>
                        @*role*@

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CustomerLevel)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplay(Model.CustomerLevel.GetDescription())
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ZhiXiao_MoneyNum)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplay(Model.ZhiXiao_MoneyNum.ToString())
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ZhiXiao_MoneyHistory)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplay(Model.ZhiXiao_MoneyHistory.ToString())
                            </div>
                        </div>

                        @if (Model.CustomerTeam != null)
                        {
                            //team info
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ZhiXiao_TeamId)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplay(Model.CustomerTeam.CustomNumber)
                                </div>
                            </div>
                        }
                        @if (Model.GenderEnabled)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Gender)
                                </div>
                                <div class="col-md-9">
                                    <div class="raw">
                                        <div class="col-md-1">
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "Gender_Male" })
                                                    @T("Admin.Customers.Customers.Fields.Gender.Male")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "Gender_Female" })
                                                    @T("Admin.Customers.Customers.Fields.Gender.Female")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ZhiXiao_IdCardNum)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ZhiXiao_IdCardNum)
                                @Html.ValidationMessageFor(model => model.ZhiXiao_IdCardNum)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ZhiXiao_YinHang)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ZhiXiao_YinHang)
                                @Html.ValidationMessageFor(model => model.ZhiXiao_YinHang)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ZhiXiao_KaiHuHang)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ZhiXiao_KaiHuHang)
                                @Html.ValidationMessageFor(model => model.ZhiXiao_KaiHuHang)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ZhiXiao_KaiHuMing)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ZhiXiao_KaiHuMing)
                                @Html.ValidationMessageFor(model => model.ZhiXiao_KaiHuMing)
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ZhiXiao_BandNum)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.ZhiXiao_BandNum)
                                    @Html.ValidationMessageFor(model => model.ZhiXiao_BandNum)
                                </div>
                            </div>

                        @if (Model.DateOfBirthEnabled)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.DateOfBirth)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.DateOfBirth)
                                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                                </div>
                            </div>
                        }

                        @if (Model.StateProvinceEnabled)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.StateProvince)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownListFor(model => model.StateProvince, Enumerable.Empty<SelectListItem>(), required: true)
                                    @Html.ValidationMessageFor(model => model.StateProvince)
                                </div>
                            </div>
                        }

                        @if (Model.CityEnabled)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.City)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownListFor(model => model.City, Enumerable.Empty<SelectListItem>(), required: true)
                                    @Html.ValidationMessageFor(model => model.City)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.District)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownListFor(model => model.District, Enumerable.Empty<SelectListItem>(), required: true)
                                    @Html.ValidationMessageFor(model => model.District)
                                </div>
                            </div>
                        }

                        @if (Model.StreetAddressEnabled)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.StreetAddress)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.StreetAddress)
                                    @Html.ValidationMessageFor(model => model.StreetAddress)
                                </div>
                            </div>
                        }

                        @if (Model.PhoneEnabled)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Phone)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Phone)
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                        }

                        @*<div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AdminComment)
                            </div>
                            <div class="col-md-9">
                                @Html.NopTextAreaFor(model => model.AdminComment)
                                @Html.ValidationMessageFor(model => model.AdminComment)
                            </div>
                        </div>*@
                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.IsTaxExempt)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.IsTaxExempt)
                                    @Html.ValidationMessageFor(model => model.IsTaxExempt)
                                </div>
                            </div>*@
                        @if (Model.AllowCustomersToSetTimeZone)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.TimeZoneId)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownList("TimeZoneId", Model.AvailableTimeZones)
                                    @Html.ValidationMessageFor(model => model.TimeZoneId)
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CreatedOn)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.CreatedOn)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.LastActivityDate)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.LastActivityDate)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}