@using Nop.Core
@using Nop.Web.Framework.UI
@{
    //CSS resources
    Html.AddCssFileParts("~/Content/sweetalert2/sweetalert2.min.css");
    Html.AppendCssFileParts("~/Scripts/loading/preloader.css");
    Html.AppendCssFileParts("~/Content/bonus/css/page.css");
    Html.AppendCssFileParts("~/Content/bonus/css/base.css");

    //scripts
    Html.AppendScriptParts("~/Scripts/sweetalert2/sweetalert2.min.js");
    Html.AppendScriptParts("~/Scripts/loading/jquery.preloader.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
    
    Html.AppendScriptParts("~/Scripts/bonus/public.common.js");
 
    //page title
    string pageTitle = !String.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title : "";
    //adminPageTitle += T("Admin.PageTitle").Text;
    Html.AppendTitleParts(pageTitle);

    var appSetting = EngineContext.Current.Resolve<Nop.Core.Domain.BonusApp.Configuration.BonusAppSettings>();

    if (!String.IsNullOrEmpty(appSetting.SiteTitle))
    {
        Html.AppendTitleParts(appSetting.SiteTitle);
    }

    //avatar
    var currentCustomer = EngineContext.Current.Resolve<IWorkContext>().CurrentBonusAppCustomer;

    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    //info: we specify "Admin" area for actions and widgets here for cases when we use this layout in a plugin that is running in a different area than "admin"
}

<!DOCTYPE html>
<html>
<head>
    <title>@Html.NopTitle(false)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Html.NopHeadCustom()
    @Html.NopCssFiles(this.Url, ResourceLocation.Head, false)
    @Html.NopScripts(this.Url, ResourceLocation.Head, false)
    <link rel="shortcut icon" href="@(webHelper.GetStoreLocation())favicon.ico" />
</head>
<body>
    @RenderBody()

    <!--footer star-->
    @if (ViewBag.HideMenu != null && ViewBag.HideMenu)
    {

    }
    else
    {
        @Html.Partial("_Menu")
    }
    <!--footer end-->

    @Html.NopScripts(this.Url, ResourceLocation.Foot, false)
    <!--提示用户可以提现-->
    @Html.Action("NotifyUser", "Common")
    @RenderSection("scripts", false)
</body>
</html>
