@model Web.ZhiXiao.Areas.BonusApp.Models.CustomerModel

@{
    Html.SetActiveMenuItemSystemName("User");

    Html.AddCssFileParts("~/Content/sweetalert2/sweetalert2.min.css");

    Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/sweetalert2/sweetalert2.min.js");

    ViewBag.Title = "个人中心";
}

<div class="main clearfloat">
    <div class="h-top clearfloat box-s">
        <div class="tu clearfloat fl">
            <img src="@Model.Avatar">
        </div>
        <div class="content clearfloat fl">
            <p class="hname">@Model.NickName</p>
            @*<p class="htel">13035059866</p>*@
            <p class="hpthy">资金: ¥@Model.Money</p>
        </div>
        <a href='@Url.RouteUrl("BonusApp_Logout")' class="btn db clearfloat fr ra3">退出</a>
    </div>
    @*<div class="cash clearfloat">
            <div class="shang xia clearfloat">
                <ul>
                    <li>
                        <a href="center.html#">
                            <p>¥31000</p>
                            <span>目前资金</span>
                        </a>
                    </li>
                    <li>
                        <a href="center.html#">
                            <p>¥56179</p>
                            <span>中资金</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
    <div class="center-bottom clearfloat">
        <div class="top clearfloat fl box-s">
            <ul>
                <li>
                    <a href="@Url.Action("TiXian", "User")">
                        <p class="tu">
                            <span></span>
                            <img src="~/Content/bonus/img/29.png">
                        </p>
                        <p class="tit">
                            申请提现
                        </p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TiXianLog", "User")">
                        <p class="tu">
                            <span></span>
                            <img src="~/Content/bonus/img/33.png" />
                        </p>
                        <p class="tit">
                            提现记录
                        </p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MoneyLog", "User")">
                        <p class="tu">
                            <span></span>
                            <img src="~/Content/bonus/img/50.png">
                        </p>
                        <p class="tit">
                            资金记录
                        </p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Edit", "User")">
                        <p class="tu">
                            <span></span>
                            <img src="~/Content/bonus/img/35.png">
                        </p>
                        <p class="tit">
                            信息修改
                        </p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Comment", "User")">
                        <p class="tu">
                            <span></span>
                            <img src="~/Content/bonus/img/66.png">
                        </p>
                        <p class="tit">
                            发表评论
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts {
}

